.tryit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.try-it-screen {
  background: white;
  border-radius: 0px;
  box-shadow: none;
  padding: 1.5rem;
}

.catfilm-image{
  margin-bottom: 30px;
  max-width: 80%;
  height: auto;
}

/* Responsive: Tablet - iPad */
@media (min-width: 769px) and (max-width: 1024px) {
  .catfilm-image{
    width: 400px;
  }
}

/* Responsive: Phones - iPhone */
@media (max-width: 768px) {
  .catfilm-image{
    width: 300px;
  }
}