.frame-wrapper {
  position: relative;
}

.frame-wrapper canvas,
.frame-wrapper .frame {
  position: absolute;
  left: 0;
  top: 0;
}

canvas {
  background-color: none;
  z-index: 1000;
}

.sticker {
  width: 64px;
  height: 64px;
  padding: 8px;
}

.sticker:hover {
  cursor: pointer;
  opacity: 0.72;
}

.dropzone {
  width: 100%;
  padding: 48px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--beige);
  border: 1px solid var(--gray);
  border-radius: 2px;
}

.dropzone p {
  font-size: var(--body-medium);
}
