@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --font: "PT Serif", serif;
  --white: #ffffff;
  --gray-light: #ececec;
  --gray: #d9d9d9;
  --gray-dark: #4a4a4a;
  --black: #000000;
  --beige: #f6f3f2;
  --burgundy: #a53131;

  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --heading-1: 36px;
  --body-xlarge: 24px;
  --body-large: 18px;
  --body-medium: 16px;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font);
  font-weight: normal;
  line-height: 1.8;
}

body {
  background-color: var(--beige);
}

p,
a,
li {
  font-size: var(--body-medium);
}

a {
  color: var(--gray-dark);
  text-decoration: none;
}

ul {
  list-style: none;
}

.logo a {
  font-size: var(--body-xlarge);
  color: var(--black);
  cursor: pointer;
}

.white-logo a {
  color: var(--white);
}

h1,
h2 {
  font-size: var(--heading-1);
}

img {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.btn {
  background-color: var(--black);
  color: var(--white);
  padding: 12px 40px;
  font-size: var(--body-xlarge);
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  transition: all 0.2s ease-in-out;
}

.btn-secondary {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--gray);
}

button:hover,
.btn:hover {
  transform: translateY(-2px);
}

.options-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.options-r {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 64px;
}

.options-box {
  background-color: var(--white);
  border: 1px solid var(--gray);
  padding: 16px;
  border-radius: 4px;
}

.underline {
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 640px) {
  :root {
    --heading-1: 28px;
  }
  .btn {
    padding: 12px 24px;
    font-size: var(--body-large);
  }
  .options-r {
    gap: 24px;
    flex-direction: column;
  }
  .options-c {
    gap: 24px;
  }
  .frame-options {
    gap: 24px;
  }
}

/* styling for about, privacy policy */

.about-privacy-container {
  background-color: var(--beige);
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);
  width: 100%;
}

.about-privacy-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 48px;
}

.about-privacy-text-section {
  flex: 1;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.about-privacy-heading {
  font-size: var(--heading-1);
  margin-bottom: 20px;
  color: var(--black);
}

.about-privacy-text-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 720px;
}

.about-privacy-paragraph {
  font-size: var(--body-medium);
  color: var(--black);
  max-width: 720px;
}
