@import url("https://fonts.googleapis.com/css2?family=Lustria&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lustria", sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

:root {
  --primary-font: "Lustria", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  font-family: "Lustria", sans-serif;
  background-color: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul {
  list-style: none;
}

.options-c {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}

.options-r {
  display: flex;
  flex-direction: row;
  gap: 120px;
  align-items: center;
}

button,
.btn {
  padding: 16px 32px;
  border-radius: 8px;
  font-size: 28px;
  background-color: #000000;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  font-family: "Lustria", sans-serif;
}

.options-c h1 {
  font-size: 36px;
}

/* Responsive: Tablet - iPad */
@media (max-width: 1024px) {
  .options-c {
    gap: 32px;
  }
  .options-c h1 {
    font-size: 32px;
  }
  .options-r {
    gap: 48px;
  }
  .image-options {
    width: 240px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  button,
  .btn,
  a {
    padding: 12px 24px;
  }
  .frame-options {
    gap: 48px;
    flex-direction: row;
  }
}

/* Responsive: Phones - iPhone */
@media (max-width: 768px) {
  .options-c {
    gap: 24px;
  }
  .options-c h1 {
    font-size: 28px;
  }
  .options-r {
    gap: 32px;
    flex-direction: column;
  }
  .image-options {
    /* fix */
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 80vw;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1px;
  }
  button,
  .btn,
  a {
    padding: 8px 12px;
    font-size: 24px;
  }
  .frame-options {
    gap: 48px;
    flex-direction: row;
  }
}
