@import url("https://fonts.googleapis.com/css2?family=Lustria&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");

:root {
  --primary-font: "Lustria", sans-serif;
  --white: #ffffff;
  --black: #000000;
  --gray-light: #f7f7f7;
  --gray: #a5a5a5;
  --gray-dark: #333333;
  --text-color: rgb(255, 255, 255);

  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
}

body {
  min-height: 100vh;
  height: auto;
  font-family: var(--primary-font);
  background-color: var(--gray-light);
}

a {
  color: var(--gray-dark);
}

ul {
  list-style: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button,
.global-button {
  background-color: var(--black) !important;
  color: var(--white) !important;
  padding: 16px 64px !important; /* Increased size */
  font-size: 26px !important; /* Ensure text size is applied */
  font-weight: bold !important;
  border: none !important;
  border-radius: 40px !important; /* Creates rounded edges */
  cursor: pointer !important;
  transition: all 0.3s ease-in-out !important;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2) !important;
  margin-top: 50px;
  margin-bottom: 24px;
}

button:hover,
.global-button:hover {
  transform: translateY(-2px) !important; /* Subtle lift effect */
}

.search-bar {
  display: flex;
  width: 100%;
  border: 1px solid var(--gray);
  padding: 4px 8px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
}
