.white-back-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 48px;
  height: 100px;
  background-color: var(--beige);
  box-sizing: border-box;
}

.white-back-header-back {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.white-icon {
  width: 30px;
  height: 30px;
}

.white-logo {
  font-size: 24px;
}

.white-logo a {
  color: var(--black);
  text-decoration: none;
  font: var(--heading-font);
}

/* Responsive: Phones - iPhone */
@media (max-width: 430px) {
  .white-back-header {
    padding: 20px 24px;
    height: 80px;
  }

  .white-logo {
    font-size: 18px;
  }

  .white-icon {
    width: 25px;
    height: 25px;
  }
}
