.camera-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
  color: white;
  padding-top: 100px;
  box-sizing: border-box;
}

/* Camera image icon */
.camera-image {
  width: 40px;
  height: 40px;
}

.countdown-timer {
  margin-bottom: 20px;
  transform: translate(-50%);
  font-size: var(--heading-3);
  color: white;
  text-align: center;
  animation: fadeIn 0.5s ease-in-out;
  opacity: 1;  
  transition: opacity 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.countdown-timer.hidden {
  opacity: 0;
}

.camera-preview-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(80vw, 62.5vh); 
  height: calc(min(80vw, 62.5vh) * (9 / 16));
  position: relative;
  overflow: hidden;
}

/* 4-cut original */
.original-mode .camera-preview-screen {
  width: min(60vw, 62.5vh);
  height: calc(min(60vw, 62.5vh) * (78 / 104));
}

/* 4-cut wide */
.wide-mode .camera-preview-screen {
  width: min(25vw, 62.5vh);
  height: calc(min(25vw, 62.5vh) * (158 / 104));
}

.webcam {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}


.flash-overlay {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0;
  animation: flashEffect 0.2s ease-in-out;
  z-index: 10;
}
@keyframes flashEffect {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0; 
  }
}

.count-display {
  margin-top: 20px;
  left: 50%;
  transform: translateX(-50%,50%);
  font-size: var(--heading-3);
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  z-index: 10;
}

/* shutter */
.shutter {
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shutter-button {
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  box-shadow: none;
  z-index: 15; 
  position: relative;
}

.shutter-icon {
  width: 80px;
  height: 80px;
}

/* Responsive: Phones - iPhone */
@media (max-width: 430px) {
  .original-mode .camera-preview-screen {
    width: 80vw;
    height: calc(80vw * (78 / 104)); 
    max-width: 1000px;
    max-height: calc(1000px * (78 / 104));
  }

  .wide-mode .camera-preview-screen {
    width: 40vw;
    height: calc(40vw * (158 / 104)); 
    max-width: 1000px;
    max-height: calc(1000px * (158 / 104));
  }

  .count-display {
    margin-top: 10px;
    font-size: var(--heading-3);
  }

  .countdown-timer {
    font-size: var(--heading-3);
  }

  .instructions {
    font-size: 20px;
  }

  .shutter-icon {
    width: 60px;
    height: 60px;
  }
}

