.camera-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding-top: 100px;
  overflow: hidden;
  background-color: black;
  color: white;
  box-sizing: border-box;
  position: relative;
  padding-top: 0;
}

/* ALL TOGETHER */
.all-together {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.camera-instructions {
  font-size: var(--heading-3);
  position: absolute;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  z-index: 100;
  text-align: center;
}

/* n/8 Counter */
.count-display {
  font-size: var(--heading-3);
  position: absolute;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  z-index: 100;
}

.camera-preview-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: min(80vw, 62.5vh);
  height: calc(min(80vw, 62.5vh) * (9 / 16));
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
  position: relative;
}

/* 4-cut original */
.original-mode .camera-preview-screen {
  width: 60vw;
  height: calc(60vw * (78 / 104));
}

/* 4-cut wide */
.wide-mode .camera-preview-screen {
  width: 30vw;
  height: calc(30vw * (158 / 104));
}

.webcam {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 0;
}

.flash-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0;
  animation: flashEffect 0.2s ease-in-out;
  z-index: 10;
}
@keyframes flashEffect {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

.camera-layer {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}

.shutter-button {
  position: absolute;
  bottom: 16px;
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  box-shadow: none;
  z-index: 10;
}

.countdown-timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: var(--gray-dark);
  animation: fadeIn 0.5s ease-in-out;
  opacity: 1;
  pointer-events: none;
}

.countdown-timer.hidden {
  opacity: 0;
}

.shutter-icon {
  width: 80px;
  height: 80px;
}

/* Responsive: Mobile */
@media (max-width: 430px) {
  .camera-instructions,
  .count-display {
    top: 80px;
  }

  .camera-layer {
    padding: -20px 0;
  }

  .original-mode .camera-preview-screen {
    width: 80vw;
    height: calc(80vw * (78 / 104));
  }

  .wide-mode .camera-preview-screen {
    width: 60vw;
    height: calc(60vw * (158 / 104));
  }

  .shutter-icon {
    width: 50px;
    height: 50px;
  }

  .countdown-timer {
    font-size: 20px;
  }

  .count-display {
    font-size: 25px;
  }
}
