/*
.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 48px;
  background-color: var(--gray-lightest);
}

.logo-small {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: -4px;
}

.footer-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.footer-email {
  color: black;
  text-decoration: none;
}

.footer-email:hover {
  text-decoration: underline;
}

.privacy-policy-link {
  color: black;
  text-decoration: none;
}

.privacy-policy-link:hover {
  text-decoration: underline;
}
*/

.footer {
  display: flex;
  flex-direction: column; /* Stack elements on mobile */
  justify-content: center;
  align-items: center;
  padding: 12px 0px;
  background-color: var(--gray-lightest);
  width: 100%;
  box-sizing: border-box;
  gap: 4px;
}

.logo-small {
  font-size: 1.2rem;
  font-weight: bold;
}

.footer-right {
  display: flex;
  flex-direction: column; /* Stack on mobile */
  align-items: center;
  gap: 4px;
}

.footer-email {
  color: black;
  text-decoration: none;
  font-size: 12px;
}

.footer-email:hover {
  text-decoration: underline;
}

.privacy-policy-link {
  color: black;
  text-decoration: none;
  font-size: 12px;
}

.privacy-policy-link:hover {
  text-decoration: underline;
}

/* Tablet styles */
@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 32px;
    align-items: center;
  }
  
  .logo-small {
    font-size: 1.3rem;
  }
  
  .footer-right {
    flex-direction: row;
    gap: 16px;
  }
  
  .footer-email, .privacy-policy-link {
    font-size: 16px;
  }
}

/* Desktop styles */
@media (min-width: 1024px) {
  .footer {
    padding: 48px;
  }
  
  .logo-small {
    font-size: 1.5rem;
    margin-top: -4px;
  }
  
  .footer-right {
    gap: 24px;
  }
}