.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px 48px 48px;
  box-sizing: border-box;
}

.footer-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.footer-right a {
  font-size: var(--body-medium);
  text-decoration: none;
}

.footer-right a:hover {
  text-decoration: underline;
}
