.options {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.options:not(:has(:nth-child(4))) {
  grid-template-columns: repeat(2, 1fr);
}

.option {
  text-align: center;
  cursor: pointer;
}

.option:hover {
  opacity: 0.8;
}

.option-img-wrapper {
  padding: 2px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 4px;
  border: 2px solid transparent;
  width: 72px;
  height: 72px;
}

.option-img-selected {
  border: 2px solid var(--burgundy);
}

.option-img {
  width: 64px;
  height: 64px;
  border-radius: 2px;
  object-fit: cover;
  display: block;
  box-sizing: border-box;
  border: 1px solid var(--gray);
}

.option-label {
  font-size: var(--body-small);
}
