.options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  max-width: 520px;
}

.option {
  text-align: center;
  cursor: pointer;
}

.option-img-wrapper {
  padding: 2px;
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 4px;
  border: 2px solid transparent;
}

.option-img-selected {
  border: 2px solid var(--burgundy);
}

.option-img {
  width: 64px;
  height: 64px;
  border-radius: 8px;
  object-fit: cover;
  display: block;
}
