.unsplash {
  width: 480px;
  height: 280px;
  overflow: scroll;
}

.unsplash-link {
  font-size: 14px;
  margin-bottom: 8px;
}

.search-bar {
  display: flex;
  width: 100%;
  border: 1px solid var(--gray);
  padding: 4px 8px;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  margin-bottom: 16px;
}

.unsplash-logo {
  width: auto;
  height: 20px;
}

.unsplash-grid {
  margin-top: 12px;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(4, minmax(0, 1fr));
  gap: 8px;
  padding-bottom: 16px;
  height: 100%;
}

.unsplash-img {
  height: 56px;
  max-width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.unsplash-attr {
  display: block;
  overflow: hidden;
  width: 100%;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.unsplash-empty-state {
  text-align: center;
  padding: 32px;
  box-sizing: border-box;
}
