.unsplash {
  width: 480px;
  height: 320px;
  background-color: var(--white);
  z-index: 10;
  border-radius: 8px;
  padding: 16px;
}

.unsplash-logo {
  width: auto;
  height: 24px;
  margin-bottom: 8px;
}

.unsplash-grid {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(4, minmax(0, 1fr));
  gap: 8px;
}

.unsplash-img {
  height: 64px;
  max-width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.unsplash-attr {
  display: block;
  overflow: hidden;
  width: 100%;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
