@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

:root {
  font-family: 'Itim', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Itim', cursive;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.frame {
  background-color: black;
  display: flex;
}

.frame-original {
  /* update later */
  height: 360px;
  width: 120px;
  padding: 16px 8px 8px;
  flex-direction: column;
  gap: 8px;
}

.frame-original img {
  width: auto;
  height: 72px;
  background-color: white;
}

.frame-wide {
  height: 360px;
  width: 240px;
  padding: 24px 12px 12px;
  flex-wrap: wrap;
  gap: 8px;
}

.frame-wide img {
  flex: 1 0 40%;
  box-sizing: border-box;
  height: auto;
  background-color: white;
}

.frame-options {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 120px;
}

.frame-selected {
  outline: 2px solid pink;
}

.frame-black {
  background-color: black;
}

.frame-white {
  background-color: white;
  outline: 1px solid black;
}

.frame-pink {
  background-color: pink;
}

.frame-blue {
  background-color: lightblue;
}

.option-selected {
  outline: 2px solid pink;
}