.frame-options {
  display: flex;
  flex-direction: row;
  gap: 100px;
  text-align: center;
}

.frame {
  outline: 4px solid white;
  cursor: pointer;
}

.frame-selected {
  outline: 4px solid pink;
  cursor: pointer;
}

.frame-desc {
  margin-top: 16px;
}