.frame-options {
  display: flex;
  flex-direction: row;
  gap: 100px;
  text-align: center;
}

.frame {
  cursor: pointer;
}

.frame-selected {
  outline: 4px solid pink;
  cursor: pointer;
}

.frame-desc {
  margin-top: 16px;
}

/* Responsive: Phones - iPhone */
@media (max-width: 430px) {
  .frame-options {
    
    gap: 50px;
  }
}
