.frame-options {
  display: flex;
  flex-direction: row;
  gap: 100px;
  text-align: center;
}

.frame-select-wrapper {
  cursor: pointer;
  border: 2px solid transparent;
  box-sizing: border-box;
  padding: 2px;
}

.frame-selected {
  border: 4px solid var(--burgundy);
  cursor: pointer;
  place-items: center;
}

.frame-desc {
  margin-top: 16px;
}

/* Responsive: Phones - iPhone */
@media (max-width: 480px) {
  .frame-options {
    gap: 48px;
  }
}
